<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:3000/api/shorturl/new" method="POST">
        <label>
            URLto be shortened:<input style=" margin-left: 15px; width: 200px;" name="url" type="text" value="" placeholder="Nhap link" >
            <input type="submit" value="POST URL"> 
        </label>
    </form>
</body>
</html>